<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>10월25일수업</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.js"></script>

</head>

<body>

    <%if (result !== undefined) { %>

    <div class="container">
        <h2>
            <%=result.title%>
        </h2>
        <div style="text-align : right">
            <td>
                <time class="timeago" datetime="<%=result.created_at%>"></time>
            </td>
            <p>조회 수 :
                <%=result.hits%>
            </p>

            <form method = "post" action = "/destroy/<%=result._id%>" id = "delete"></form>
            <a href = "/rewrite/<%=result._id%>"><span class="badge badge-primary">수정</span></a>
            <a href = "#" onClick = "document.getElementById('delete').submit();"><span class="badge badge-danger">삭제</span></a>
        </div>
        <br/>
        <p><%=result.content%></p>
        <div style="text-align:right">
            <a href="/list"><button class="btn btn-dark">목록으로 </button>
        </div>
    </div>

    <% } %>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("time.timeago").timeago();
        });
    </script>
</body>

</html>